{% extends "couriermanage/base.html" %}
{% block content %}

{% load static %}
    <!-- Menu Sidebar Section Start -->
    <div class="body-overlay"></div>

    <!-- Page Header Start !-->
    <div class="page-breadcrumb-area page-bg" style="background-image: url('/static/asset/images/section-bg/transportation-logistics.jpg')">
        <div class="page-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-wrapper">
                        <div class="page-heading">
                            <h3 class="page-title">About Us</h3>
                        </div>
                        <div class="breadcrumb-list">
                            <ul>
                                <li><a href="{% url 'index' %}">Home</a></li>
                                <li class="active"><a href="#">About</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End !-->

    <!-- About Us Area start !-->
    <div class="about-us-area style-2 overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="about-image-card style-two">
                        <div class="main-img-wrapper">
                            <div class="main-img-inner">
                                <img class="tilt-animate" src="{% static 'asset/images/about/about-card-2-img-1.jpg' %}" alt="about card img" />
                                <div class="img-card-wrapper image-three">
                                    <h1 class="year">7k</h1>
                                    <h6 class="title">Product<br />Delivered</h6>
                                </div>
                                <div class="img-card-wrapper image-four">
                                    <img src="{% static 'asset/images/shape/about-image-card-2-img-2.png' %}" alt="about card img" />
                                </div>
                                <div class="img-card-wrapper image-five">
                                    <img class="tilt-animate" src="{% static 'asset/images/about/about-card-2-img-3.jpg' %}" alt="about card img" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="about-info-card style-two ">
                        <div class="about-info-content">
                            <div class="section-title">
                                <span class="short-title">About Transico</span>
                                <h2 class="title">World Class <span>Logistic</span> and <span>Transportation</span></h2>
                            </div>
                            <div class="text">
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiatmnis iste natus error sit voluptatem accusa mnis iste natus error sit voluptatem accusa nulla pariatur. </p>
                            </div>
                            <div class="icon-card-wrapper">
                                <div class="icon-card">
                                    <div class="icon">
                                        <img src="{% static 'asset/images/icon/boxes.png' %}" alt="map">
                                    </div>
                                    <div class="content">
                                        <h2 class="title">Dedicated Service</h2>
                                        <p class="desc">Sit voluptatem accusa nulla pariatur.</p>
                                    </div>
                                </div>
                                <div class="icon-card">
                                    <div class="icon">
                                        <img src="{% static 'asset/images/icon/delivery-courier.png' %}" alt="map">
                                    </div>
                                    <div class="content">
                                        <h2 class="title">Expert Team</h2>
                                        <p class="desc">Dit voluptatem accusa nulla pariatur.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="skill-and-video-wrapper">
                                <div class="skill-progressbar-wrapper">
                                    <div class="skill-progressbar">
                                        <div class="progress-inner" data-percentage="95%">
                                            <h4 class="progress-inner-item">
                                                <span class="skill-title">Service</span>
                                                <span class="progressbar-number">
                          <span class="progress-number-count">
                            <span class="progress-percent"></span>
                                                </span>
                                                </span>
                                            </h4>
                                            <div class="progress-content-outter">
                                                <div class="progress-content"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="skill-progressbar">
                                        <div class="progress-inner" data-percentage="80%">
                                            <h4 class="progress-inner-item">
                                                <span class="skill-title">Marketing</span>
                                                <span class="progressbar-number">
                          <span class="progress-number-count">
                            <span class="progress-percent"></span>
                                                </span>
                                                </span>
                                            </h4>
                                            <div class="progress-content-outter">
                                                <div class="progress-content"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="skill-progressbar">
                                        <div class="progress-inner" data-percentage="90%">
                                            <h4 class="progress-inner-item">
                                                <span class="skill-title">Support</span>
                                                <span class="progressbar-number">
                          <span class="progress-number-count">
                            <span class="progress-percent"></span>
                                                </span>
                                                </span>
                                            </h4>
                                            <div class="progress-content-outter">
                                                <div class="progress-content"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="video-popup-card">
                                    <div class="video-popup-image">
                                        <img class="tilt-animate" src="{% static 'asset/images/video-popup/popup-img-2.jpg' %}" alt="popup image" />
                                    </div>
                                    <div class="video-popup-btn">
                                        <a href="https://www.youtube.com/watch?v=SZEflIVnhH8" class="mfp-iframe video-play">
                      <i class="fa-solid fa-play" aria-hidden="true"></i>
                    </a>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-wrapper">
                                <a href="about.html" class="theme-btn">Read More<i class="fa-solid fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Us Area End !-->
    <!-- Counter Up Area Start -->
    <div class="counter-up-area style-3 position-relative background-blue" style="background-image: url('/static/asset/images/section-bg/counter-bg.jpg')">
      
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="counter-card">
                        <div class="counter-item">
                            <div class="counter-title">
                                <h1 class="number">
                                    <span class="counter">90</span>
                                </h1>
                                <p class="title">Total Countries</p>
                            </div>
                            <div class="counter-content">
                                <p class="text">accusa mnis iste natus error sit vol uptatem accusa nulla </p>
                            </div>

                        </div>
                        <div class="counter-item">
                            <div class="counter-title">
                                <h1 class="number">
                                    <span class="counter">230</span>
                                </h1>
                                <p class="title">Worldwide Cities</p>
                            </div>
                            <div class="counter-content">
                                <p class="text">kccusa mnis iste natus error sit vol uptatem accusa oulla </p>
                            </div>
                        </div>
                        <div class="counter-item">
                            <div class="counter-title">
                                <h1 class="number">
                                    <span class="counter">500</span> <span>+</span>
                                </h1>
                                <p class="title">People Engaged</p>
                            </div>
                            <div class="counter-content">
                                <p class="text">pccusa mnis iste natus error sit vol uptatem accusa iulle </p>
                            </div>
                        </div>
                        <div class="counter-item">
                            <div class="counter-title">
                                <h1 class="number">
                                    <span class="counter">10</span> <span>M</span>
                                </h1>
                                <p class="title">Package Delivery</p>
                            </div>
                            <div class="counter-content">
                                <p class="text">dccusa mnis iste natus error sit vol uptatem accusa yulls </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Counter Up Area End -->
    <!-- FAQ Area Start -->
    <div class="faq-area style-3">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-6">
                    <div class="section-title mb-50">
                        <span class="short-title">Frequently Asked Questions</span>
                        <h2 class="title">The <span>Progressive</span> &<span>Flexible </span> <br>Transport coverage</h2>
                        <p class="text mt-30">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugi atmnis ist met, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore when the musics over turn off the light</p>
                    </div>

                    <nav>
                        <ul class="nav-tab mb-30" id="nav-tab" role="tablist">
                            <li class="active" id="nav-tab1" data-bs-toggle="tab" data-bs-target="#nav-tab1_item" role="tab" aria-controls="nav-tab1_item" aria-selected="true">Our Mission</li>
                            <li class="" id="nav-tab2" data-bs-toggle="tab" data-bs-target="#nav-tab2_item" role="tab" aria-controls="nav-tab2_item" aria-selected="false">Our Vission</li>
                            <li class="" id="nav-tab3" data-bs-toggle="tab" data-bs-target="#nav-tab3_item" role="tab" aria-controls="nav-tab3_item" aria-selected="false">Our Principle</li>
                        </ul>
                    </nav>
                    <div class="tab-content tab-content-wrapper" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-tab1_item" role="tabpanel" aria-labelledby="nav-tab1" tabindex="0">
                            <div class="row">
                                <div class="col-lg-7 col-sm-6 order-sm-1 order-2">
                                    <p>Evsed do eiusmod tempor incididunt ut lab ore when the musics over turn</p>
                                    <p>Kobita off the light when the musics over turn off the light said by JIm Morrison tumi sopno charini hoye khobor nio pa.</p>
                                </div>
                                <div class="col-lg-5 col-sm-6 order-sm-2 order-1">
                                    <div class="image">
                                        <img src="{% static 'asset/images/about/attractive.jpg' %}" alt="attractive" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-tab2_item" role="tabpanel" aria-labelledby="nav-tab2" tabindex="0">
                            <div class="row">
                                <div class="col-lg-7 col-sm-6 order-sm-1 order-2">
                                    <p>Mvsed do eiusmod tempor incididunt ut lab ore when the musics over turn</p>
                                    <p>Yobita off the light when the musics over turn off the light said by JIm Morrison tumi sopno charini hoye khobor nio da.</p>
                                </div>
                                <div class="col-lg-5 col-sm-6 order-sm-2 order-1">
                                    <div class="image">
                                        <img src="{% static 'asset/images/about/our-vission.jpg' %}" alt="vission" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-tab3_item" role="tabpanel" aria-labelledby="nav-tab3" tabindex="0">
                            <div class="row">
                                <div class="col-lg-7 col-sm-6 order-sm-1 order-2">
                                    <p>Dvsed do eiusmod tempor incididunt ut lab ore when the musics over turn</p>
                                    <p>Qobita off the light when the musics over turn off the light said by JIm Morrison tumi sopno charini hoye khobor nio la.</p>
                                </div>
                                <div class="col-lg-5 col-sm-6 order-sm-2 order-1">
                                    <div class="image">
                                        <img src="{% static 'asset/images/about/principle.jpg' %}" alt="principle" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="video-popup-card style-three">
                        <div class="video-popup-image">
                            <img src="{% static 'asset/images/about/04_about_faq.jpg' %}" alt="popup image">
                        </div>
                        <div class="video-popup-btn">
                            <a href="https://www.youtube.com/watch?v=SZEflIVnhH8" class="mfp-iframe video-play">
                <i class="fa-solid fa-play" aria-hidden="true"></i>
              </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FAQ Area End -->
    <!-- About Timeline Start -->
    <div class="timeline-area style-1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="section-title text-center align-items-center mb-70">
                        <span class="short-title">History</span>
                        <h2 class="title">Know More <span>Detail</span> About<br />Our <span>Company</span></h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-12">
                    <div class="time-card-wrapper">
                        <div class="time-card-item">
                            <div class="time-card-desc">
                                <div class="title">
                                    <h2>Company Founded</h2>
                                </div>
                                <div class="desc">
                                    <p>Xolore magna aliqua enim ad minim ven mod tempor incididunt ut labore et doore magna when the musics iver</p>
                                </div>
                            </div>
                            <div class="circle-wrapper">
                                <div class="time-card-circle"></div>
                            </div>
                            <div class="time-card-time">
                                <p class="time-card-date">Dec 23, 1983</p>
                            </div>
                        </div>
                        <div class="time-card-item">
                            <div class="time-card-desc">
                                <div class="title">
                                    <h2>New Office Taken</h2>
                                </div>
                                <div class="desc">
                                    <p>Lolore magna aliqua enim ad minim ven mod tempor incididunt ut labore et doore magna when the musics pves</p>
                                </div>
                            </div>
                            <div class="circle-wrapper">
                                <div class="time-card-circle"></div>
                            </div>
                            <div class="time-card-time">
                                <p class="time-card-date">Jan 23, 1984</p>
                            </div>
                        </div>
                        <div class="time-card-item">
                            <div class="time-card-desc">
                                <div class="title">
                                    <h2>Become Top Company</h2>
                                </div>
                                <div class="desc">
                                    <p>Tolore magna aliqua enim ad minim ven mod tempor incididunt ut labore et doore magna when the musics cves</p>
                                </div>
                            </div>
                            <div class="circle-wrapper">
                                <div class="time-card-circle"></div>
                            </div>
                            <div class="time-card-time">
                                <p class="time-card-date">Dec 23, 1983</p>
                            </div>
                        </div>
                        <div class="time-card-arrow">
                            <i class="fa-solid fa-angle-down"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Timeline Start -->

    <!-- Team Member Area Start -->
    <div class="team-slider-area style-1 overflow-hidden">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="section-title text-center align-items-center mb-70">
                        <span class="short-title">Team Members</span>
                        <h2 class="title">The <span>Best</span> & <span>Skilled </span>People <br>Together</h2>
                        <div class="divider"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="team-member-slider-wrapper" id="team_slider_wrapper">
                    <div>
                        <div class="team-member-card">
                            <div class="image">
                                <img src="{% static 'asset/images/team-member/team-1.jpg' %}" alt="team-member" />
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <h2 class="title">Johnson Doe</h2>
                                    <p class="desc">Founder & CEO</p>
                                </div>
                                <div class="social">
                                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="team-member-card">
                            <div class="image">
                                <img src="{% static 'asset/images/team-member/team-2.jpg' %}" alt="team-member" />
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <h2 class="title">Peter Parker</h2>
                                    <p class="desc">General Manager</p>
                                </div>
                                <div class="social">
                                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="team-member-card">
                            <div class="image">
                                <img src="{% static 'asset/images/team-member/team-3.jpg' %}" alt="team-member" />
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <h2 class="title">Paul Harrison</h2>
                                    <p class="desc">Delivery Head</p>
                                </div>
                                <div class="social">
                                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="team-member-card">
                            <div class="image">
                                <img src="{% static 'asset/images/team-member/team-4.jpg' %}" alt="team-member" />
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <h2 class="title">Johnson Doe</h2>
                                    <p class="desc">Founder & CEO</p>
                                </div>
                                <div class="social">
                                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="team-member-card">
                            <div class="image">
                                <img src="{% static 'asset/images/team-member/team-5.jpg' %}" alt="team-member" />
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <h2 class="title">Peter Parker</h2>
                                    <p class="desc">General Manager</p>
                                </div>
                                <div class="social">
                                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="team-member-card">
                            <div class="image">
                                <img src="{% static 'asset/images/team-member/team-6.jpg' %}" alt="team-member" />
                            </div>
                            <div class="content-wrapper">
                                <div class="content">
                                    <h2 class="title">Paul Harrison</h2>
                                    <p class="desc">Delivery Head</p>
                                </div>
                                <div class="social">
                                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team Member Area End -->
    <!-- Testimonial Area Start -->
    <div class="testimonial-slider-area style-1 overflow-hidden background-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-5 pr-0">
                    <div class="section-title mb-50">
                        <span class="short-title">Testimonials</span>
                        <h2 class="title">What <span>Clients</span> Say <br /> About<span>Us </span></h2>
                        <p class="text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiatmnis iste natus error sit voluptatem accusa mnis</p>
                    </div>
                    <div class="testimonial-slider-arrow">
                        <button type='button' class="testimonial-arrow-btn" id="trigger_testimonial_prev"><i
                class='fa-solid fa-angle-left'></i></button>
                        <button type='button' class="testimonial-arrow-btn" id="trigger_testimonial_next"><i
                class='fa-solid fa-angle-right'></i></button>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-7 p-0">
                    <div class="testimonial-slider-wrapper" id="testimonial_two">
                        <div>
                            <div class="testimonial-card style-two">
                                <div class="icon">
                                    <img src="{% static 'asset/images/icon/testimonial-quotation-2.png' %}" alt="testimonial" />
                                </div>
                                <div class="content-wrapper">
                                    <div class="content">
                                        <p class="text">
                                            Kenim ad minim veniam quis nostrud exe rcitati oen ullamco labor is nisi ut aliq uip ex ea comm odo cons equa uis aute iruoesre trud exeon ulla
                                        </p>
                                    </div>
                                    <div class="meta-user">
                                        <div class="user-info">
                                            <div class="image">
                                                <img src="{% static 'asset/images/testimonial/closse-up.png' %}" alt="user" />
                                            </div>
                                            <div class="info">
                                                <h2>Mike Peter</h2>
                                                <p>Journalist</p>
                                            </div>
                                        </div>
                                        <div class="icon">
                                            <img src="{% static 'asset/images/icon/testimonial-quotation.png' %}" alt="testimonial" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="testimonial-card style-two">
                                <div class="icon">
                                    <img src="{% static 'asset/images/icon/testimonial-quotation-2.png' %}" alt="testimonial" />
                                </div>
                                <div class="content-wrapper">
                                    <div class="content">
                                        <p class="text">
                                            Kenim ad minim veniam quis nostrud exe rcitati oen ullamco labor is nisi ut aliq uip ex ea comm odo cons equa uis aute iruoesre trud exeon ulla
                                        </p>
                                    </div>
                                    <div class="meta-user">
                                        <div class="user-info">
                                            <div class="image">
                                                <img src="{% static 'asset/images/testimonial/meta-user.png' %}" alt="user" />
                                            </div>
                                            <div class="info">
                                                <h2>Jewel Khan</h2>
                                                <p>Traveller</p>
                                            </div>
                                        </div>
                                        <div class="icon">
                                            <img src="{% static 'asset/images/icon/testimonial-quotation.png' %}" alt="testimonial" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="testimonial-card style-two">
                                <div class="icon">
                                    <img src="{% static 'asset/images/icon/testimonial-quotation-2.png' %}" alt="testimonial" />
                                </div>
                                <div class="content-wrapper">
                                    <div class="content">
                                        <p class="text">
                                            Kenim ad minim veniam quis nostrud exe rcitati oen ullamco labor is nisi ut aliq uip ex ea comm odo cons equa uis aute iruoesre trud exeon ulla
                                        </p>
                                    </div>
                                    <div class="meta-user">
                                        <div class="user-info">
                                            <div class="image">
                                                <img src="{% static 'asset/images/testimonial/pleasant-meta.png' %}" alt="user" />
                                            </div>
                                            <div class="info">
                                                <h2>Nayna Eva</h2>
                                                <p>Traveller</p>
                                            </div>
                                        </div>
                                        <div class="icon">
                                            <img src="{% static 'asset/images/icon/testimonial-quotation.png' %}" alt="testimonial" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial Area End -->

    <!-- Brand Logo Area Start -->
    <div class="brand-area style-1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="section-title text-center align-items-center mb-50">
                        <span class="short-title">Partners</span>
                        <h2 class="title">We Worked with<br /><span>Top </span> <span>Brands</span> </h2>
                        <div class="divider"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="client-wrapper">
                        <div class="client-logo-wrapper style-two">
                            <div class="client-logo">
                                <img src="{% static 'asset/images/client-partner/04_about_client_1.png' %}" alt="logo" />
                            </div>
                            <div class="client-logo">
                                <img src="{% static 'asset/images/client-partner/04_about_client_2.png' %}" alt="logo" />
                            </div>
                            <div class="client-logo">
                                <img src="{% static 'asset/images/client-partner/04_about_client_3.png' %}" alt="logo" />
                            </div>
                            <div class="client-logo">
                                <img src="{% static 'asset/images/client-partner/04_about_client_4.png' %}" alt="logo" />
                            </div>
                            <div class="client-logo">
                                <img src="{% static 'asset/images/client-partner/04_about_client_5.png' %}" alt="logo" />
                            </div>
                            <div class="client-logo">
                                <img src="{% static 'asset/images/client-partner/04_about_client_6.png' %}" alt="logo" />
                            </div>
                            <div class="client-logo">
                                <img src="{% static 'asset/images/client-partner/04_about_client_5.png' %}" alt="logo" />
                            </div>
                            <div class="client-logo">
                                <img src="{% static 'asset/images/client-partner/04_about_client_4.png' %}" alt="logo" />
                            </div>
                            <div class="client-logo">
                                <img src="{% static 'asset/images/client-partner/04_about_client_3.png' %}" alt="logo" />
                            </div>
                            <div class="client-logo">
                                <img src="{% static 'asset/images/client-partner/04_about_client_2.png' %}" alt="logo" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Brand Logo Area End -->

    <!--- Start Footer !-->
{% endblock content %}
