{% extends "couriermanage/base.html" %}
{% block content %}

{% load static %}

    <!-- Menu Sidebar Section Start -->
    <div class="body-overlay"></div>
    <!-- Slider Section Start !-->
    <div class="slider-area style-1">
        <div class="slider-wrapper">
            <!-- single slider start -->
            <div class="single-slider-wrapper">
                <div class="single-slider" style="background-image: url('/static/asset/images/slider/slider-1.jpg')">

                    <div class="slider-overlay"></div>
                    <div class="container h-100 align-self-center">
                        <div class="row h-100">
                            <div class="col-md-6 align-self-center order-2 order-md-1">
                                <div class="slider-content-wrapper">
                                    <div class="slider-content">
                                        <span class="slider-short-title">We are Transco</span>
                                        <h1 class="slider-title">World Class Transport</h1>
                                        <p class="slider-short-desc">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                                        <div class="slider-btn-wrapper">
                                            <a href="{% url 'main' %}" class="theme-btn">Tracking Page<i
                                                    class="fa-solid fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 align-self-center order-1 order-md-2">
                                <div class="slider-image">
                                    <img src="{% static 'asset/images/slider/home-1-feature-slider-1.png' %}" alt="feature image" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single slider end -->
            <!-- single slider start -->
            <div class="single-slider-wrapper">
                <div class="single-slider" style="background-image: url('/static/asset/images/slider/slider-2.jpg')">

                    <div class="slider-overlay"></div>
                    <div class="container h-100 align-self-center">
                        <div class="row h-100">
                            <div class="col-md-6 align-self-center order-2 order-md-1">
                                <div class="slider-content-wrapper">
                                    <div class="slider-content">
                                        <span class="slider-short-title">Your Business Partner</span>
                                        <h1 class="slider-title">Made Simple Transport</h1>
                                        <p class="slider-short-desc">Optimize your supply chain with our streamlined transport solutions, reducing costs productivity.</p>
                                        <div class="slider-btn-wrapper">
                                            <a href="{% url 'main' %}" class="theme-btn">Tracking Page<i
                                                    class="fa-solid fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 align-self-center order-1 order-md-2">
                                <div class="slider-image">
                                    <img src="{% static 'asset/images/slider/home-1-feature-slider-2.png' %}" alt="feature image" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single slider end -->
            <!-- single slider start -->
            <div class="single-slider-wrapper">
                <div class="single-slider" style="background-image: url('/static/asset/images/slider/slider-3.jpg')">

                    <div class="slider-overlay"></div>
                    <div class="container h-100 align-self-center">
                        <div class="row h-100">
                            <div class="col-md-6 align-self-center order-2 order-md-1">
                                <div class="slider-content-wrapper">
                                    <div class="slider-content">
                                        <span class="slider-short-title">Journey with Transco</span>
                                        <h1 class="slider-title">Safely Get Transport</h1>
                                        <p class="slider-short-desc">Experience hassle-free journeys with our efficient transport solutions that prioritize your comfort.</p>
                                        <div class="slider-btn-wrapper">
                                            <a href="{% url 'main' %}" class="theme-btn">Tracking Page<i
                                                    class="fa-solid fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 align-self-center order-1 order-md-2">
                                <div class="slider-image">
                                    <img src="{% static 'asset/images/slider/home-1-feature-slider-3.png' %}" alt="feature image" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single slider end -->
        </div>
        <!-- Social Profile Start -->
        <div class="container social-share-wrapper">
            <div class="social-share">
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            </div>
        </div>
        <!-- Social Profile End -->
    </div>
    <!-- Slider Section End !-->
    <!-- Feature Area Start-->
    <div class="feature-area style-1">
        <div class="container">
            <div class="feature-area-wrapper">
                <div class="row">
                    <div class="col-md-6 col-lg-3 p-lg-0">
                        <!-- single info-card start -->
                        <div class="info-card ">
                            <div class="divider"></div>
                            <div class="info-card-inner">
                                <div class="content-wrapper">
                                    <div class="title-wrapper">
                                        <div class="icon">
                                            <img src="{% static 'asset/images/icon/support.png' %}" alt="support" />
                                        </div>
                                        <h2 class="title">Premium<br />Logistics Support</h2>
                                    </div>
                                    <div class="content">
                                        <p class="desc">Knim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                        <div class="read-more">
                                            <a href="service-details.html">
                                                    <span class="icon">
                                                        <i class="fa-solid fa-angle-right"></i>
                                                    </span>
                                                read more
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single info-card End-->
                    </div>
                    <div class="col-md-6 col-lg-3 p-lg-0">
                        <!-- single info-card start -->
                        <div class="info-card ">
                            <div class="divider"></div>
                            <div class="info-card-inner">
                                <div class="content-wrapper">
                                    <div class="title-wrapper">
                                        <div class="icon">
                                            <img src="{% static 'asset/images/icon/world-distribution.png' %}" alt="support" />
                                        </div>
                                        <h2 class="title">
                                            Worldwide
                                            <br />Product Delivery
                                        </h2>
                                    </div>
                                    <div class="content">
                                        <p class="desc"> Cnim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo ponsequat.</p>
                                        <div class="read-more">
                                            <a href="service-details.html">
                                                    <span class="icon">
                                                        <i class="fa-solid fa-angle-right"></i>
                                                    </span>
                                                read more
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single info-card End-->
                    </div>
                    <div class="col-md-6 col-lg-3 p-lg-0">
                        <!-- single info-card start -->
                        <div class="info-card ">
                            <div class="divider"></div>
                            <div class="info-card-inner">
                                <div class="content-wrapper">
                                    <div class="title-wrapper">
                                        <div class="icon">
                                            <img src="{% static 'asset/images/icon/courier.png' %}" alt="support" />
                                        </div>
                                        <h2 class="title">Highly Skilled
                                            <br />Logistics Parnters
                                        </h2>
                                    </div>
                                    <div class="content">
                                        <p class="desc"> Pnim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo jonsequat.</p>
                                        <div class="read-more">
                                            <a href="service-details.html">
                                                    <span class="icon">
                                                        <i class="fa-solid fa-angle-right"></i>
                                                    </span>
                                                read more
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single info-card End-->
                    </div>
                    <div class="col-md-6 col-lg-3 p-lg-0">
                        <!-- single info-card start -->
                        <div class="info-card ">
                            <div class="info-card-inner">
                                <div class="content-wrapper">
                                    <div class="title-wrapper">
                                        <div class="icon">
                                            <img src="{% static 'asset/images/icon/unboxing.png' %}" alt="support" />
                                        </div>
                                        <h2 class="title">Safe & Secure<br />Product Delivery</h2>
                                    </div>
                                    <div class="content">
                                        <p class="desc"> Qnim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo aonsequat.</p>
                                        <div class="read-more">
                                            <a href="service-details.html">
                                                    <span class="icon">
                                                        <i class="fa-solid fa-angle-right"></i>
                                                    </span>
                                                read more
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single info-card End-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature Area End !-->
    <!-- About Us Area Start !-->
    <div class="about-us-area style-1 overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="about-image-card">
                        <div class="main-img-wrapper">
                            <div class="main-img-inner">
                                <img class="tilt-animate" src="{% static 'asset/images/about/about-card-img.jpg' %}" alt="about card img" />
                                <div class="img-card-wrapper image-one">
                                    <img src="{% static 'asset/images/icon/tropy.png' %}" alt="about card img" />
                                </div>
                                <div class="img-card-wrapper image-two">
                                    <img src="{% static 'asset/images/icon/track.png' %}" alt="about card img" />
                                </div>
                                <div class="img-card-wrapper image-three">
                                    <h1 class="year">12</h1>
                                    <h6 class="title">Year of<br />Success</h6>
                                </div>
                                <div class="img-card-wrapper image-four">
                                    <img class="tilt-animate" src="{% static 'asset/images/about/about-card-img-2.jpg' %}" alt="about card img" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="about-info-card">
                        <div class="about-info-content">
                            <div class="section-title">
                                <span class="short-title">We are Transico</span>
                                <h2 class="title">World Class <span>Logistic</span> and <span>Transportation</span> Service
                                </h2>
                            </div>
                            <div class="sub-title">
                                <p>Accusa mnis iste natus error sit volupta toloris onder boura gist onpores tem accusa nulla pariatur.</p>
                            </div>
                            <div class="text">
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiatmnis iste natus error sit voluptatem accusa mnis iste natus error sit voluptatem accusa nulla pariatur. </p>
                            </div>
                            <div class="quote-text">
                                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                                <div class="quote-text-meta">
                                    <span class="divider"></span>
                                    <span class="name">Tom Anderson,</span>
                                    <span class="designation"> Founder & CEO</span>
                                </div>
                            </div>
                            <div class="btn-wrapper">
                                <a href="{% url 'about' %}" class="theme-btn">Read More<i
                                        class="fa-solid fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Us Area End !-->
    <!-- Video Popup Card section start !-->
    <div class="video-popup-area style-1 position-relative">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="video-popup-card">
                        <div class="video-popup-image">
                            <img src="{% static 'asset/images/video-popup/popup-img-1.jpg' %}" alt="popup image" />
                        </div>
                        <div class="video-popup-btn">
                            <a href="https://www.youtube.com/watch?v=SZEflIVnhH8" class="mfp-iframe video-play">
                                <i class="fa-solid fa-play" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Popup Card section end !-->

    <!-- counter section start -->
    <div class="counter-up-area style-1 position-relative" style="background-image: url('/static/asset/images/section-bg/counter-bg.jpg')">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="counter-card">
                        <div class="counter-item">
                            <div class="counter-title">
                                <h1 class="number">
                                    <span class="counter">90</span>
                                </h1>
                                <p class="title">Total Countries</p>
                            </div>
                            <div class="counter-content">
                                <p class="text">accusa mnis iste natus error sit vol uptatem accusa nulla </p>
                            </div>

                        </div>
                        <div class="counter-item">
                            <div class="counter-title">
                                <h1 class="number">
                                    <span class="counter">230</span>
                                </h1>
                                <p class="title">Worldwide Cities</p>
                            </div>
                            <div class="counter-content">
                                <p class="text">kccusa mnis iste natus error sit vol uptatem accusa bulla </p>
                            </div>
                        </div>
                        <div class="counter-item">
                            <div class="counter-title">
                                <h1 class="number">
                                    <span class="counter">500</span> <span>+</span>
                                </h1>
                                <p class="title">People Engaged</p>
                            </div>
                            <div class="counter-content">
                                <p class="text">bccusa mnis iste natus error sit vol uptatem accusa pulla </p>
                            </div>
                        </div>
                        <div class="counter-item">
                            <div class="counter-title">
                                <h1 class="number">
                                    <span class="counter">10</span> <span>M</span>
                                </h1>
                                <p class="title">Package Delivery</p>
                            </div>
                            <div class="counter-content">
                                <p class="text">dccusa mnis iste natus error sit vol uptatem accusa culla </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- counter section end -->
    <!-- counter shape start -->
    <div class="squre-shape-wrapper">
        <div class="counter-squre-shape"></div>
    </div>
    <!-- counter shape End -->
    <!-- Service Area Start -->
    <div class="service-area style-1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="section-title text-center align-items-center">
                        <span class="short-title">Our Service</span>
                        <h2 class="title">We Find the <span>Destination</span><br />for Your <span>Product</span></h2>
                        <div class="divider"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Single Service Start !-->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="info-card style-two" style="background-image: url('/static/asset/images/service/service-item-1.jpg')">

                        <div class="info-card-inner">
                            <div class="content-wrapper">
                                <div class="title-wrapper">
                                    <div class="icon">
                                        <img src="{% static 'asset/images/icon/transport.png' %}" alt="" />
                                    </div>
                                    <h2 class="title">Product Transportation</h2>
                                </div>
                                <div class="content">
                                    <p class="desc">Rus error sit voluptatem accusa mnis iste natus error sit volup ris niesisi ut ali quip ex ea commodo consequat. Duis aute irure dolor in reprehenderit</p>
                                    <div class="read-more">
                                        <a href="service-details.html">
                                            <span class="icon">
                                                <i class="fa-solid fa-angle-right"></i>
                                            </span>
                                            read more
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Service End !-->
                <!-- Single Service Start !-->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="info-card style-two" style="background-image: url('/static/asset/images/service/service-item-1.jpg')">
                        <div class="info-card-inner">
                            <div class="content-wrapper">
                                <div class="title-wrapper">
                                    <div class="icon">
                                        <img src="{% static 'asset/images/icon/home-delivery.png' %}" alt="home-delivery" />
                                    </div>
                                    <h2 class="title">Wirehouse Storage
                                    </h2>
                                </div>
                                <div class="content">
                                    <p class="desc">Kus error sit voluptatem accusa mnis iste natus error sit volup ris niesisi ut ali quip ex ea commodo consequat. Duis aute irure dolor in neprehenderit</p>
                                    <div class="read-more">
                                        <a href="service-details.html">
                                            <span class="icon">
                                                <i class="fa-solid fa-angle-right"></i>
                                            </span>
                                            read more
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Service End !-->
                <!-- Single Service Start !-->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="info-card style-two" style="background-image: url('/static/asset/images/service/service-item-1.jpg')">
                        <div class="info-card-inner">
                            <div class="content-wrapper">
                                <div class="title-wrapper">
                                    <div class="icon">
                                        <img src="{% static 'asset/images/icon/tracking.png' %}" alt="" />
                                    </div>
                                    <h2 class="title">Product Packaging
                                    </h2>
                                </div>
                                <div class="content">
                                    <p class="desc">Dus error sit voluptatem accusa mnis iste natus error sit volup ris niesisi ut ali quip ex ea commodo consequat. Duis aute irure dolor in ceprehenderit</p>
                                    <div class="read-more">
                                        <a href="service-details.html">
                                            <span class="icon">
                                                <i class="fa-solid fa-angle-right"></i>
                                            </span>
                                            read more
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Service End !-->
                <!-- Single Service Start !-->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="info-card style-two" style="background-image: url('/static/asset/images/service/service-item-1.jpg')">
                        <div class="info-card-inner">
                            <div class="content-wrapper">
                                <div class="title-wrapper">
                                    <div class="icon">
                                        <img src="{% static 'asset/images/icon/payment.png' %}" alt="" />
                                    </div>
                                    <h2 class="title">Source Optimization</h2>
                                </div>
                                <div class="content">
                                    <p class="desc">Qus error sit voluptatem accusa mnis iste natus error sit volup ris niesisi ut ali quip ex ea commodo consequat. Duis aute irure dolor in deprehenderit</p>
                                    <div class="read-more">
                                        <a href="service-details.html">
                                            <span class="icon">
                                                <i class="fa-solid fa-angle-right"></i>
                                            </span>
                                            read more
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Service End !-->
                <!-- Single Service Start !-->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="info-card style-two" style="background-image: url('/static/asset/images/service/service-item-1.jpg')">
                        <div class="info-card-inner">
                            <div class="content-wrapper">
                                <div class="title-wrapper">
                                    <div class="icon">
                                        <img src="{% static 'asset/images/icon/search.png' %}" alt="" />
                                    </div>
                                    <h2 class="title">Lost Product Recovery</h2>
                                </div>
                                <div class="content">
                                    <p class="desc">Mus error sit voluptatem accusa mnis iste natus error sit volup ris niesisi ut ali quip ex ea commodo consequat. Duis aute irure dolor in yeprehenderit</p>
                                    <div class="read-more">
                                        <a href="service-details.html">
                                            <span class="icon">
                                                <i class="fa-solid fa-angle-right"></i>
                                            </span>
                                            read more
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Service End !-->
                <!-- Single Service Start !-->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="info-card style-two" style="background-image: url('/static/asset/images/service/service-item-1.jpg')">
                        <div class="info-card-inner">
                            <div class="content-wrapper">
                                <div class="title-wrapper">
                                    <div class="icon">
                                        <img src="{% static 'asset/images/icon/call-center.png' %}" alt="" />
                                    </div>
                                    <h2 class="title">Logistic Consultancy
                                    </h2>
                                </div>
                                <div class="content">
                                    <p class="desc">Yus error sit voluptatem accusa mnis iste natus error sit volup ris niesisi ut ali quip ex ea commodo consequat. Duis aute irure dolor in ueprehenderit</p>
                                    <div class="read-more">
                                        <a href="service-details.html">
                                            <span class="icon">
                                                <i class="fa-solid fa-angle-right"></i>
                                            </span>
                                            read more
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Service End !-->
            </div>
        </div>
    </div>
    <!-- Service Area End -->
    <!-- Process Step Area Start -->
    <div class="process-step-area style-1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="section-title text-center align-items-center">
                        <span class="short-title">How it works</span>
                        <h2 class="title text-white">World Class <span>Logistics</span> and
                            <br /><span>Transportation</span>
                        </h2>
                        <div class="divider"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-5 col-xl-3">
                    <div class="row">
                        <div class="col-12">
                            <div class="process-step">
                                <div class="icon">
                                    <div class="count">
                                        <span>01</span>
                                    </div>
                                </div>
                                <div class="content">
                                    <h2 class="title">Pick A Service</h2>
                                    <p class="desc">Ynim ad minim veniam ex ercitation pllamycp.</p>
                                </div>

                            </div>
                        </div>
                        <div class="col-12">
                            <div class="process-step">
                                <div class="icon">
                                    <div class="count">
                                        <span>03</span>
                                    </div>
                                </div>
                                <div class="content">
                                    <h2 class="title">Get Delivery</h2>
                                    <p class="desc">Dim ad minim veniam ex ercitation cllamycd.</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="align-self-end d-none d-lg-block col-lg-2 col-xl-6">
                    <div class="process-image d-none d-xl-block">
                        <img class="tilt-animate" src="{% static 'asset/images/section-bg/process-img.png' %}" alt="image" />
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-5 col-xl-3">
                    <div class="row">
                        <div class="col-12">
                            <div class="process-step">
                                <div class="icon">
                                    <div class="count">
                                        <span>02</span>
                                    </div>
                                </div>
                                <div class="content">
                                    <h2 class="title">Send Product</h2>
                                    <p class="desc">Unim ad minim veniam ex ercitation illamyce.</p>
                                </div>

                            </div>
                        </div>
                        <div class="col-12">
                            <div class="process-step">
                                <div class="icon">
                                    <div class="count">
                                        <span>04</span>
                                    </div>
                                </div>
                                <div class="content">
                                    <h2 class="title">Clear Payment</h2>
                                    <p class="desc">Onim ad minim veniam ex ercitation illamycy.</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Process Step Area End -->
    <!-- Testimonial Area Start -->
    <div class="testimonial-slider-area style-1 overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-5 pr-0">
                    <div class="section-title mb-40">
                        <span class="short-title">Testimonials</span>
                        <h2 class="title">What <span>Clients</span> Say <br /> About <span>Us</span></h2>
                        <p class="text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiatmnis iste natus error sit voluptatem accusa mnis</p>
                    </div>
                    <div class="testimonial-slider-arrow">
                        <button type='button' class="testimonial-arrow-btn" id="trigger_testimonial_prev"><i
                                class='fa-solid fa-angle-left'></i></button>
                        <button type='button' class="testimonial-arrow-btn" id="trigger_testimonial_next"><i
                                class='fa-solid fa-angle-right'></i></button>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-7 p-0">
                    <div class="testimonial-slider-wrapper" id="testimonial_two">
                        <div>
                            <div class="testimonial-card style-two">
                                <div class="icon">
                                    <img src="{% static 'asset/images/icon/testimonial-quotation-2.png' %}" alt="testimonial" />
                                </div>
                                <div class="content-wrapper">
                                    <div class="content">
                                        <p class="text">Penim ad minim veniam quis nostrud exe rcitati oen ullamco labor is nisi ut aliq uip ex ea comm odo cons equa uis aute iruoesre trud exeon clly</p>
                                    </div>
                                    <div class="meta-user">
                                        <div class="user-info">
                                            <div class="image">
                                                <img src="{% static 'asset/images/testimonial/closse-up.png' %}" alt="user" />
                                            </div>
                                            <div class="info">
                                                <h2>Mike Peter</h2>
                                                <p>Journalist</p>
                                            </div>
                                        </div>
                                        <div class="icon">
                                            <img src="{% static 'asset/images/icon/testimonial-quotation.png' %}" alt="testimonial" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="testimonial-card style-two">
                                <div class="icon">
                                    <img src="{% static 'asset/images/icon/testimonial-quotation-2.png' %}" alt="testimonial" />
                                </div>
                                <div class="content-wrapper">
                                    <div class="content">
                                        <p class="text">Ueniy ad minim veniam quis nostrud exe rcitati oen ullamco labor is nisi ut aliq uip ex ea comm odo cons equa uis aute iruoesre trud exeon dlle</p>
                                    </div>
                                    <div class="meta-user">
                                        <div class="user-info">
                                            <div class="image">
                                                <img src="{% static 'asset/images/testimonial/meta-user.png' %}" alt="user" />
                                            </div>
                                            <div class="info">
                                                <h2>Jewel Khan</h2>
                                                <p>Traveller</p>
                                            </div>
                                        </div>
                                        <div class="icon">
                                            <img src="{% static 'asset/images/icon/testimonial-quotation.png' %}" alt="testimonial" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="testimonial-card style-two">
                                <div class="icon">
                                    <img src="{% static 'asset/images/icon/testimonial-quotation-2.png' %}" alt="testimonial" />
                                </div>
                                <div class="content-wrapper">
                                    <div class="content">
                                        <p class="text">Oeniy ad minim veniam quis nostrud exe rcitati oen ullamco labor is nisi ut aliq uip ex ea comm odo cons equa uis aute iruoesre trud exeon ells</p>
                                    </div>
                                    <div class="meta-user">
                                        <div class="user-info">
                                            <div class="image">
                                                <img src="{% static 'asset/images/testimonial/pleasant-meta.png' %}" alt="user" />
                                            </div>
                                            <div class="info">
                                                <h2>Nayna Eva</h2>
                                                <p>Traveller</p>
                                            </div>
                                        </div>
                                        <div class="icon">
                                            <img src="{% static 'asset/images/icon/testimonial-quotation.png' %}" alt="testimonial" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial Area End -->
    <!-- Appointment shape start -->
    <div class="squre-shape-wrapper">
        <div class="appointment-squre-shape"></div>
    </div>
    <!-- Appointment shape end -->
    <!-- Appointment Area Start -->

    <!-- Appointment Area End -->
    <!-- Brand Slider Area Start -->
    <div class="brand-slider-area style-1 background-skye overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="client-logo-slider-wrapper">
                        <div>
                            <div class="client-logo-wrapper">
                                <div class="client-logo">
                                    <img src="{% static 'asset/images/white-client-logo/client-1.png' %}" alt="logo" />
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="client-logo-wrapper">
                                <div class="client-logo">
                                    <img src="{% static 'asset/images/white-client-logo/client-2.png' %}" alt="logo" />
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="client-logo-wrapper">
                                <div class="client-logo">
                                    <img src="{% static 'asset/images/white-client-logo/client-3.png' %}" alt="logo" />
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="client-logo-wrapper">
                                <div class="client-logo">
                                    <img src="{% static 'asset/images/white-client-logo/client-4.png' %}" alt="logo" />
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="client-logo-wrapper">
                                <div class="client-logo">
                                    <img src="{% static 'asset/images/white-client-logo/client-5.png' %}" alt="logo" />
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="client-logo-wrapper">
                                <div class="client-logo">
                                    <img src="{% static 'asset/images/white-client-logo/client-1.png' %}" alt="logo" />
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="client-logo-wrapper">
                                <div class="client-logo">
                                    <img src="{% static 'asset/images/white-client-logo/client-2.png' %}" alt="logo" />
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="client-logo-wrapper">
                                <div class="client-logo">
                                    <img src="{% static 'asset/images/white-client-logo/client-3.png' %}" alt="logo" />
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="client-logo-wrapper">
                                <div class="client-logo">
                                    <img src="{% static 'asset/images/white-client-logo/client-4.png' %}" alt="logo" />
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="client-logo-wrapper">
                                <div class="client-logo">
                                    <img src="{% static 'asset/images/white-client-logo/client-5.png' %}" alt="logo" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Brand Slider Area End -->
    <!-- Latest Posts Area Start -->
    <div class="latest-posts-area style-1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="section-title text-center align-items-center">
                        <span class="short-title">From Our Blog</span>
                        <h2 class="title">Get latest <span>news</span> and<br /><span>updates</span></h2>
                        <div class="divider"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="post-card style-three">
                        <div class="image">
                            <span class="image-overlay"></span>
                            <img src="{% static 'asset/images/blog/01_home_feature_post.jpg' %}" alt="post-1" />
                        </div>
                        <div class="content">
                            <div class="post-meta">
                                <span><a href="#">Web Design</a></span>
                                <span>October 09, 2022</span>
                            </div>
                            <h2 class="title">
                                <a href="blog-details.html">Tips n tricks to make your clients happy</a>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6">
                            <!-- Single-post-card start -->
                            <div class="post-card style-one">
                                <div class="image">
                                    <img src="{% static 'asset/images/blog/01_home_feature_post.jpg' %}" alt="post-1" />
                                </div>
                                <div class="content">
                                    <div class="post-meta">
                                        <span><a href="#">Logistis</a></span>
                                    </div>
                                    <h2 class="title">
                                        <a href="blog-details.html">When the musics over turn off the light</a>
                                    </h2>
                                </div>
                                <p class="date-bottom">April 02, 2023</p>
                            </div>
                            <!-- Single-post-card End-->
                        </div>
                        <div class="col-12 col-md-6 col-lg-6">
                            <!-- Single-post-card start -->
                            <div class="post-card style-one">
                                <div class="image">
                                    <img src="{% static 'asset/images/blog/01_home_feature_post.jpg' %}" alt="post-1" />
                                </div>
                                <div class="content">
                                    <div class="post-meta">
                                        <span><a href="#">Logistis</a></span>
                                    </div>
                                    <h2 class="title">
                                        <a href="blog-details.html">Daycares Provide Transportation</a>
                                    </h2>
                                </div>
                                <p class="date-bottom">February 13, 2022</p>
                            </div>
                            <!-- Single-post-card End-->
                        </div>
                        <div class="col-12 col-md-6 col-lg-6">
                            <!-- Single-post-card start -->
                            <div class="post-card style-one">
                                <div class="image">
                                    <img src="{% static 'asset/images/blog/01_home_feature_post.jpg' %}" alt="post-1" />
                                </div>
                                <div class="content">
                                    <div class="post-meta">
                                        <span><a href="#">Logistis</a></span>
                                    </div>
                                    <h2 class="title">
                                        <a href="blog-details.html">Acadian Emergency Transportation</a>
                                    </h2>
                                </div>
                                <p class="date-bottom">March 13, 2022</p>
                            </div>
                            <!-- Single-post-card End-->
                        </div>
                        <div class="col-12 col-md-6 col-lg-6">
                            <!-- Single-post-card start -->
                            <div class="post-card style-one">
                                <div class="image">
                                    <img src="{% static 'asset/images/blog/01_home_feature_post.jpg' %}" alt="post-1" />
                                </div>
                                <div class="content">
                                    <div class="post-meta">
                                        <span><a href="#">Logistis</a></span>
                                    </div>
                                    <h2 class="title">
                                        <a href="blog-details.html">Can You Transport Furniture In Uber</a>
                                    </h2>
                                </div>
                                <p class="date-bottom">April 13, 2022</p>
                            </div>
                            <!-- Single-post-card End-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Latest Posts Area End -->
    <!-- Newsletter Section Start-->
    <div class="subscribe-form-area style-1">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Newsletter Section Start !-->
                    <div class="subscribe-area">
                        <div class="shape-bg">
                            <img src="{% static 'asset/images/section-bg/subscribe-form-bg.png' %}" alt="shape" />
                        </div>
                        <div class="triangle-shape"></div>
                        <div class="subscribe-inner-area">
                            <div class="content-wrapper">
                                <h4 class="short-title">Get regular updates</h4>
                                <h2 class="subscribe-title">Get Newsletter</h2>
                                <p class="text">Ut enim ad minim veniam, quis nostruyd</p>
                            </div>
                            <div class="subscribe-form-wrapper">
                                <div class="subscribe-form-widget">
                                    <form>
                                        <div class="mc4wp-form-fields">
                                            <div class="single-field">
                                                <input type="email" placeholder="Your email here" />
                                            </div>
                                            <button class="submit-btn" type="submit"><i
                                                    class="fa-solid fa-envelope"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Newsletter Section End !-->
                </div>
            </div>
        </div>
    </div>
    <!-- Newsletter Section End-->
    <!--- Start Footer !-->


{% endblock content %}
</html>