{% extends "couriermanage/base.html" %}
{% block content %}

{% load static %}
    <!-- Menu Sidebar Section Start -->
    <div class="body-overlay"></div>

    <!-- Page Header Start !-->
    <div class="page-breadcrumb-area page-bg" style="background-image: url('/static/asset/images/section-bg/transportation-logistics.jpg')">
        
        <div class="page-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-wrapper">
                        <div class="page-heading">
                            <h3 class="page-title">Product Transportation</h3>
                        </div>
                        <div class="breadcrumb-list">
                            <ul>
                                <li><a href="{% url 'index' %}">Home</a></li>
                                <li><a href="service.html">Services</a></li>
                                <li class="active"><a href="#">Product Transportation</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End !-->

    <!-- Service-details Section Start !-->
    <div class="service-details-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 order-2 order-xl-1">
                    <!-- sidebar start -->
                    <div class="service-sidebar">
                        <!-- service-categories start -->
                        <div class="widget widget_service_categories">
                            <ul>
                                <li class="active">
                                    <a href="#">
                                    <i class="fa-solid fa-caret-right"></i>
                                    Product Transportation
                                </a>
                                </li>
                                <li><a href="#"><i class="fa-solid fa-caret-right"></i>
                                Warehouse Storage</a></li>
                                <li><a href="#"><i class="fa-solid fa-caret-right"></i>
                                Product Packaging</a></li>
                                <li><a href="#"><i class="fa-solid fa-caret-right"></i>
                                Source Optimization</a></li>
                                <li><a href="#"><i class="fa-solid fa-caret-right"></i>
                                Lost Product Recovery</a></li>
                                <li><a href="#"><i class="fa-solid fa-caret-right"></i>
                                Logistic Consultancy</a></li>
                            </ul>
                        </div>
                        <!-- service-categories end -->
                        <!-- service-promotion start -->
                        <div class="widget widget_service_promotion" style="background-image: url('/static/asset/images/section-bg/promotional-widget-bg.jpg')">

                            <div class="overlay"></div>
                            <div class="widget-subtitle">
                                <p>Need Help?</p>
                            </div>
                            <div class="promotion-card">
                                <h4>
                                    Call Us<br/>to Get Expert Advice & Guidence
                                </h4>
                                <a href="#" class="secondary-btn">
                                    <span class="icon">
                                        <i class="fa-solid fa-phone"></i>
                                    </span>
                                <div class="btn-text">
                                        <p>Call Us</p>
                                        <h4>+ 123 456 7890</h4>
                                    </div>
                            </a>
                            </div>
                        </div>
                        <div class="widget widget_service_brochura">
                            <div class="widget-title-wrapper">
                                <p class="widget-subtitle">Brochure</p>
                                <h4 class="widget-title">Download Our Brochure</h4>
                            </div>
                            <div class="button-wrapper">
                                <a href="#" class="pdf btn-text">
                                <i class="fa-regular fa-file-pdf"></i>
                                Download PDF</a>
                                <a href="#" class="doc btn-text">
                                <i class="fa-regular fa-file-word"></i>
                                Download DOC
                            </a>
                            </div>
                        </div>
                        <!-- service-promotion end -->
                    </div>
                    <!-- sidebar end -->
                </div>
                <div class="col-xl-9 order-1">
                    <div class="details-main">
                        <div class="details-img-wrapper">
                            <p>
                                <img src="{% static 'asset/images/service-detail/service-details-main.jpg' %}" alt="service-details" />
                            </p>
                            <br/>
                            <div class="text">
                                <p>Sonse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore kobita tumi nim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                    in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                                <p>
                                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut per spiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                                    inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia conse quuntur magni dolores eos qui ratione voluptatem
                                    sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                                </p>

                            </div>
                        </div>
                        <div class="row mt-55">
                            <div class="col-12 col-lg-7">
                                <h4 class="title">Overview</h4>
                                <p></p>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse eu fu giatmnis ist met, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore kobita</p>
                                <div class="list-item">
                                    <ul>
                                        <li>
                                            <i class="fa-solid fa-arrow-right"></i> Klores eos qui ratione voluptatem sequi nesciun eque porro quisquam est, qui dolorem ipsum qurta.
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-arrow-right"></i> Klores eos qui ratione voluptatem sequi nesciun eque porro quisquam est, qui dolorem ipsum qurta.
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-arrow-right"></i> Klores eos qui ratione voluptatem sequi nesciun eque porro quisquam est, qui dolorem ipsum qurta.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-lg-5">
                                <div class="counter-card style-three">
                                    <div class="counter-item">
                                        <div class="counter-title">
                                            <h1 class="number">
                                                <span class="counter">2</span>K
                                            </h1>
                                            <p class="title">Items shipped
                                                <br/>per months
                                            </p>
                                        </div>
                                    </div>
                                    <div class="counter-item">
                                        <div class="counter-title">
                                            <h1 class="number">
                                                <span class="counter">98</span>%
                                            </h1>
                                            <p class="title">Items shipped<br/>per months</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row gx-5 mt-70">
                            <div class="col-12 col-lg-6">
                                <div class="benefits-image">
                                    <img src="{% static 'asset/images/service-detail/benefite-delivery.jpg' %}" alt="benefits" />
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <h4 class="title">Benefits</h4>
                                <p>Kobita tumi tate nis ist met, consectetur adipisicing elit, sed do eiusmod tempor incidid</p>
                                <div class="list-item">
                                    <ul>
                                        <li>
                                            <i class="fa-solid fa-arrow-right"></i> Statem sequi nesciun eque porro quisquam.
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-arrow-right"></i> Eequi nes isq dolorem ipsum qu.
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-arrow-right"></i> Hast res eos qui ratione voluptate esciun.
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-arrow-right"></i> Eequi nes isq dolorem ipsum qu.
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-arrow-right"></i> Hast res eos qui ratione voluptate esciun.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row m-30 m-lg-0">
                            <div class="col-12">
                                <h4 class="faq-title">Frequently Asked Questions</h4>
                                <p></p>

                                <!-- Accordion Start -->
                                <div class="accordion-wrapper style-four">
                                    <div class="accordion-box-wrapper" id="serviceDetailsFAQ">
                                        <!-- Single Accordion Start -->
                                        <div class="accordion-list-item open">
                                            <div id="headingOne">
                                                <div class="accordion-head" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    <h3 class="accordion-title">Is there any insurence service available for this?
                                                    </h3>
                                                </div>
                                            </div>
                                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#serviceDetailsFAQ">
                                                <div class="accordion-item-body">
                                                    <p>Kemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia conse quuntur magni dolo res eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum
                                                        quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Single Accordion End -->
                                        <!-- Single Accordion Start -->
                                        <div class="accordion-list-item">
                                            <div id="headingTwo">
                                                <div class="accordion-head collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    <h3 class="accordion-title">How can I track my percel online?</h3>
                                                </div>
                                            </div>
                                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#serviceDetailsFAQ">
                                                <div class="accordion-item-body">
                                                    <p>Temo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia conse quuntur magni dolo res eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum
                                                        quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut oabord.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Single Accordion End -->
                                        <!-- Single Accordion Start -->
                                        <div class="accordion-list-item">
                                            <div id="headingThree">
                                                <div class="accordion-head collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    <h3 class="accordion-title">What is the best way to send and receive products?
                                                    </h3>
                                                    <div class="icon"></div>
                                                </div>
                                            </div>
                                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#serviceDetailsFAQ">
                                                <div class="accordion-item-body">
                                                    <p>wemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia conse quuntur magni dolo res eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum
                                                        quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut yabore.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Single Accordion End -->
                                        <!-- Single Accordion Start -->
                                        <div class="accordion-list-item">
                                            <div id="headingFour">
                                                <div class="accordion-head collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                    <h3 class="accordion-title">When the musics over tunf off the light?</h3>
                                                    <div class="icon"></div>
                                                </div>
                                            </div>
                                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#serviceDetailsFAQ">
                                                <div class="accordion-item-body">
                                                    <p>Femo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia conse quuntur magni dolo res eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum
                                                        quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut eaboy.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Single Accordion End -->
                                    </div>
                                </div>
                                <!-- Accordion End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service-details Section end -->

    <!--- Start Footer !-->
    <footer class="footer style-three bg-light-black">
        <div class="footer-sec">
            <div class="container">
                <div class="row gx-lg-5">
                    <div class="col-lg-6 col-md-12">
                        <div class="footer-widget">
                            <div class="footer-widget-info">
                                <div class="footer-logo">
                                    <a href="{% url 'index' %}"><img src="{% static 'asset/images/logo/footer-logo.png' %}" alt="Footer Logo" /></a>
                                </div>
                                <p>Wnim ad minim veniam, quis nostud exerc aliquip betha kake jey ctetur adip isic ing elit do eius gna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea eommodp</p>
                                <div class="info-form-and-social-icon">
                                    <!-- Newsletter Section Start !-->
                                    <div class="subscribe-form-wrapper">
                                        <div class="subscribe-form-widget">
                                            <form>
                                                <div class="mc4wp-form-fields">
                                                    <div class="single-field">
                                                        <input type="email" placeholder="Your email here" />
                                                    </div>
                                                    <button class="submit-btn" type="submit"><i class="fa-solid fa-envelope"></i></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- Newsletter Section End !-->
                                    <div class="social-profile">
                                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h2 class="footer-widget-title">Recent Posts</h2>
                            <div class="widget_latest_post">
                                <ul>
                                    <li>
                                        <div class="latest-post-thumb">
                                            <img src="{% static 'asset/images/blog/r1.jpg' %}" alt="">
                                        </div>
                                        <div class="latest-post-desc">
                                            <span class="latest-post-meta">January 13, 2023</span>
                                            <h3 class="latest-post-title"><a href="blog-details.html">Acadian Non Emergency Transportation</a>
                                            </h3>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="latest-post-thumb">
                                            <img src="{% static 'asset/images/blog/r2.jpg' %}" alt="">
                                        </div>
                                        <div class="latest-post-desc">
                                            <span class="latest-post-meta">January 13, 2023</span>
                                            <h3 class="latest-post-title"><a href="blog-details.html">Can You Transport Furniture In Uber</a>
                                            </h3>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget widget_nav_menu">
                            <h2 class="footer-widget-title">Useful Links</h2>
                            <ul class="menu">
                                <li><a href="#">Customer</a></li>
                                <li><a href="#">Visitor</a></li>
                                <li><a href="#">Webmaster</a></li>
                                <li><a href="#">Service</a></li>
                                <li><a href="#">Career</a></li>
                                <li><a href="#">Customer</a></li>
                                <li><a href="#">Visitor</a></li>
                                <li><a href="#">Webmaster</a></li>
                                <li><a href="#">Service</a></li>
                                <li><a href="#">Career</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Footer contact-info-widget start -->
{% endblock content %}
